<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>game-collection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0439C6381BFEB520000AA8B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0439C64C1BFEB520000AA8B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0439C6571BFEB521000AA8B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
